<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4">Welcome to Patient Management App</h1>

    <p class="lead">Manage your patient records quickly and easily.</p>

    <div class="mt-4">
      @if (account() !== null) {
        <button class="btn btn-primary" [routerLink]="['/patient']">
          Go to Patient List
        </button>
      } @else {
        <div class="alert alert-warning">
          <span>If you want to </span>
          <a class="alert-link" (click)="login()">sign in</a>
          <span>, you can try the default accounts:<br/>
            - Administrator (login="admin" / password="admin")<br/>
            - User (login="user" / password="user")
          </span>
        </div>
      }
    </div>
  </div>
</div>
